body {
    background-color: #efefef;
}

.single-blog {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 40px;
    background-color: #fff;
}

.single-blog img {
    width: 100%;
}

.blog-text {
    font-size: 14px;
    text-align: justify;
}

.read-more-btn {
    background-image: linear-gradient(to right, #11cc00, #5c8bef);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    border: none;
}

.read-more-btn:hover {
    background-image: linear-gradient(to right, #006417, #00b128);
    text-decoration: none;
    color: #fff;
}