/* ---------------------index.html------------------- */
 /* header  for index.html, signup.html,login.html*/
/* image logo dimensions */
.logo img{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 15%;
    left: 45%;
}
/* nav bar */
.signin, .signup, .signout{
    color: white;
    margin-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
} 
 #submit, #search{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
#submit{
    padding-top: 50px;
}
#search{
    color: black;
    width: 150px;
    margin-top: 40px;
}
/* aniamting the header image for index.html, signup.html,login.html*/
header{
    margin: 0;
    padding: 0;
    height: 300px;
    background: url(../images/bg.jpg);
    background-size: cover;
    animation: animateBg 60s linear infinite;
}
.pulse{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url(../images/earth.png);
    background-size: cover;
    animation: animateEarth 12s linear infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 40px rgba(225,225,225,.5);
}
@keyframes animateEarth{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 719px 0;
    }
}
@keyframes animateBg{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1600px 0;
    }
}
 
/* main body of the index.html */

/* main news display in the page */
.stories{
    background: #f1f3f5;
    color: #333e4f;
    height: auto;
    min-height: 100px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    clear: both;
}
.title-box{
    text-align: center;
    margin-bottom: 30px;
}
/* read more styling  in each article*/
.read{
    color: #12737a;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 10px;
}
/* styling the cards */
.card{
    margin:10px;
    background: white;
    border: none;
}
/* weather card in index.html  */
.weather{
    display: block;
}
/*  footer tag */
footer {
    width: 100%;
    position: absolute;
    height: 150px;
    margin-top: 40px;
    background: linear-gradient(135deg,#29aae2,#1b4ea1);
}
/* footer nav style */
nav h3{
    text-align:center;
    padding-top: 70px;
    font-size: 1.5em;
    color: white;
}
/* footer image */
.logo1 img{
    float: left;
    height: 200px;
    width: 200px;
    
}
/* a,img{
    
    height: 100px;
    margin-right: 50px;
} */

/* a{
    height: 20px;
} */



/* login and signup button in login.html signup.html */
#btnLogin, #btnSignup{
    background: #29aae2;
    color: white;
    border-radius: 6px;
    margin: 20px;
}
/* body for login.html signup.html */
#txtEmail, #txtPassword{
    width: 550px;
    margin: 10px;
}


/* --------------------------------pollen----------------------- */
/* change the color based on pollen level in the air */
.good{
    background: green;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}
.moderate{
    background: yellow;
    border-radius: 10px;
    padding-left: 10px;
}
.unhealthySen{
    background: rgb(107, 70, 2);
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}
.unhealthy{
    background: red;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}
.veryUnhealthy{
    background: purple;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}
.hazardous{
    background: maroon;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}
